{% extends "./layout.html.jinja" %}

{% block body %}
<div class="book off-canvas off-canvas-sidebar-show">
    <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar">
        <i class="icon icon-menu"></i>
    </a>

    <div id="sidebar" class="off-canvas-sidebar">
    Test
    </div>

    <a class="off-canvas-overlay" href="#close"></a>

    <div class="off-canvas-content">
        <div class="content">
            {% include 'header.html.jinja' %}
            <article class="container">
                <div class="columns">
                    <div class="column col-1 col-mr-auto">
                        <div class="p-fixed" style="top: 50vh">
                            <i class="icon icon-arrow-left"></i>
                        </div>
                    </div>
                    <div class="column col-8 col-mx-auto">
                        {{ page.content|safe }}
                    </div>
                    <div class="column col-1 col-ml-auto">
                        <div class="p-fixed" style="top: 50vh">
                            <i class="icon icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
