{%- macro articles(_articles, file, config) -%}
    {% for article in _articles %}
        <li class="chapter">
            <a href="{{ article.link }}">{{ article.name }}</a>
            {% if article.children|length > 0 %}
                <ul class="articles">
                    {{ articles(article.children, file, config) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{%- endmacro -%}

<ul class="summary">
    {% set _divider = false %}

    {%- if _divider -%}
        <li class="divider"></li>
    {%- endif -%}

    {%- if summary.readme -%}
        <li class="chapter">
            <a href="">Cover</a>
        </li>
    {%- endif -%}

    {%- for section in summary.sections -%}
        {% if section.title %}
        <li class="header">{{ section.title }}</li>
        {% elif not loop.first %}
        <li class="divider"></li>
        {% endif %}
        {{ articles(section.parts, file, config) }}
    {%- endfor -%}
</ul>
