{% block book_header %}
<header class="book-header navbar" role="navigation">
    <section class="navbar-section">
        <div class="input-group input-inline">
            <a href="#sidebar">
                <i class="icon icon-menu"></i>
            </a>
        </div>
    </section>
    <section class="navbar-center">
        <span class="chapter-title navbar-brand mr-2">{{ page.title }}</span>
    </section>
    <section class="navbar-section">
    </section>
</header>
{% endblock %}
