[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
pytest = ">=4.0"
pytest-cov = "*"
pytest-mock = "*"
tox = "*"

[packages]
click = ">=7.0"
jinja2 = {editable = true,git = "https://github.com/pallets/jinja.git",ref = "master"}
markdown = ">=3.1"
mistune = ">=0.8.4"
pydash = ">=4.7.5"
pyyaml = ">=5.1"
six = ">=1.12"
flask = "*"
watchdog = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
