<!DOCTYPE HTML>
<html lang="{{ config.language }}"{%- if page.dir == "rtl" %} dir="rtl"{% endif -%}>
    <head>
        <meta charset="UTF-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>{% block title %}{{ config.title|d("Hon", true) }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="generator" content="Hon {{ hon.version }}">
        {% if config.author %}<meta name="author" content="{{ config.author }}">{% endif %}
        {% if config.isbn %}<meta name="identifier" content="{{ config.isbn }}" scheme="ISBN">{% endif %}
        <link rel="stylesheet" href="css/spectre.min.css">
        <link rel="stylesheet" href="css/spectre-exp.min.css">
        <link rel="stylesheet" href="css/spectre-icons.min.css">
        <link rel="stylesheet" href="css/theme.css">
        {% block style %}
            {%- for resource in plugins.resources.css %}
                {% if resource.url %}
                <link rel="stylesheet" href="{{ resource.url }}">
                {% else %}
                <link rel="stylesheet" href="{{ resource.path }}">
                {% endif %}
            {% endfor %}
        {% endblock %}
        {%- block head -%}
            {%- if page.next_chapter and page.next_chapter.link -%}
            <link rel="next" href="{{ page.next_chapter.link }}" />
            {%- endif -%}
            {%- if page.previous_chapter and page.previous_chapter.link -%}
            <link rel="prev" href="{{ page.previous_chapter.link }}" />
            {%- endif -%}
        {%- endblock -%}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascript %}
            <script src="{{ "hon.js" }}"></script>
            {# <script src="{{ "theme.js" }}"></script> #}
            {% for resource in plugins.resources.js %}
                {% if resource.url %}
                <script src="{{ resource.url }}"></script>
                {% else %}
                <script src="{{ resource.path }}"></script>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </body>
</html>
