{% extends "./layout.html.jinja" %}

{% block body %}
<div class="book off-canvas off-canvas-sidebar-show">
    <div id="sidebar" class="off-canvas-sidebar" style="border-right: 1px solid #e8e8e8;">
        {% include 'summary.html.jinja' %}
    </div>

    <div class="off-canvas-content">
        <div class="content">
            {% include 'header.html.jinja' %}
            <article class="container" style="padding-top: 2rem; padding-bottom: 4rem; min-height: 100vh;">
                <div class="columns">
                    <div class="column col-1 col-mr-auto">
                        <div class="p-fixed" style="top: 50vh">
                            {%- if page.previous_chapter -%}
                                <a href="{{ page.previous_chapter.link }}">
                                    <i class="icon icon-arrow-left"></i>
                                </a>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="column col-8 col-mx-auto">
                        {{ page.content|safe }}
                    </div>
                    <div class="column col-1 col-ml-auto">
                        <div class="p-fixed" style="top: 50vh">
                            {%- if page.next_chapter -%}
                                <a href="{{ page.next_chapter.link }}">
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
