<!DOCTYPE HTML>
<html lang="{{ language }}">
    <head>
        <title>{{ title }}</title>
        <link href="stylesheet.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
